<%= form_with(
    model: @signup, 
    scope: :signup, 
    url: current_page?(event_info_signup_path) && signups_path || current_page?(edit_signup_path) && signup_path
  ) do |f| %>
  <h3>Sign up for this event</h3>
  <%= f.hidden_field :event_id, value: @signup&.event_id || params[:id] %>
  <% if user_signed_in? == false %>
    <p>Would you like to <%= link_to "log in", :new_user_session %> or <%= link_to "register for an account", :new_user_registration %> to save your account info for future signups?</p>
    <div class="form-field">
      <%= f.label "Name", class: "block" %>
      <%= f.text_field :user_name %>
    </div>
    <div class="form-field">
      <%= f.label "Email", class: "block" %>
      <%= f.text_field :user_email %>
    </div>
    <div class="form-field">
      <%= f.label "Phone number", class: "block" %>
      <%= f.text_field :user_phone_number %>
    </div>
    <div class="form-field">
      <%= f.label "Are you over 18?", class: "block" %>
      Yes <%= f.radio_button :user_is_over_18, true %>
      No <%= f.radio_button :user_is_over_18, false %>
    </div>
  <% end %>
  <% if user_signed_in? && current_user %>
    <div class="form-field">
      <%= f.label "Name", class: "block" %>
      <%= f.text_field :user_name, value: current_user.name %>
    </div>
    <div class="form-field">
      <%= f.label "Email", class: "block" %>
      <%= f.text_field :user_email, value: current_user.email %>
    </div>
    <div class="form-field">
      <%= f.label "Phone number", class: "block" %>
      <%= f.text_field :user_phone_number, value: current_user.phone_number %>
    </div>
    <div class="form-field">
      <%= f.label "Are you over 18?", class: "block" %>
      Yes <%= f.radio_button :user_is_over_18, true, checked: current_user.is_over_18? %>
      No <%= f.radio_button :user_is_over_18, false, checked: !current_user.is_over_18? %>
    </div>
  <% end %>
  <div class="form-field">
    <%= f.label "Is there anything else you'd like us to know?", class: "block" %>
    <%= f.text_area :notes %>
  </div>
  <div class="flex justify-content-end">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
