<div id="<%= dom_id signup %>">
  <% if current_page?(signup_path(signup.id)) %>
    <h1>Thank you for volunteering!</h1>
  <% end %>
  <dl>
    <dl>
      <dt>name:</dt>
      <dd><%= signup.user_name %></dd>
    </dl>
    <dl>
      <dt>email:</dt>
      <dd><%= signup.user_email %></dd>
    </dl>
    <dl>
      <dt>phone number:</dt>
      <dd><%= signup.user_phone_number %></dd>
    </dl>
  </dl>

  <p>
    <% if signup.user_is_over_18 %>
    Volunteer is over 18
    <% else %>
    Volunteer is under 18
    <% end %>
  </p>

  <p>
    <%= link_to "Event: #{EventInfo.find(signup.event_id).title}", event_info_path(signup.event_id)  %>
  </p>
  <dl>
    <dl>
      <dt>Date:</dt>
      <dd><%= EventInfo.find(signup.event_id).start_time.strftime("%B %e, %Y") %></dd>
    </dl>
    <dl>
      <dt>Start time:</dt>
      <dd><%= EventInfo.find(signup.event_id).start_time.strftime("%l:%M%P") %>
    </dl>
    <dl>
      <dt>End time:</dt>
      <dd><%= EventInfo.find(signup.event_id).end_time.strftime("%l:%M%P") %>
    </dl>
  </dl>

  <p>
    <strong>Volunteer notes:</strong><br>
    <%= signup.notes %>
  </p>

  <% if @user_is_event_coordenator_or_admin %>
    <p>
      <strong>Checked in at:</strong>
      <%= signup.checked_in_at %>
    </p>

    <p>
      <strong>Cancelled at:</strong>
      <%= signup.cancelled_at %>
    </p>
  <% end %>

</div>
