<div id="<%= dom_id signup %>">
  <p>
    <strong>User:</strong>
    <%= signup.user_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= signup.event_id %>
  </p>

  <p>
    <strong>Volunteer notes:</strong>
    <%= signup.volunteer_notes %>
  </p>

  <p>
    <strong>Post event coordinator notes:</strong>
    <%= signup.post_event_coordinator_notes %>
  </p>

  <p>
    <strong>Checked in at:</strong>
    <%= signup.checked_in_at %>
  </p>

  <p>
    <strong>Cancelled at:</strong>
    <%= signup.cancelled_at %>
  </p>

</div>
