<div id="<%= dom_id signup %>">
  <h1>Thank you for signing up to volunteer!</h1>
  <dl>
    <dl>
      <dt>name:</dt>
      <dd><%= signup.user_name %></dd>
    </dl>
    <dl>
      <dt>email:</dt>
      <dd><%= signup.user_email %></dd>
    </dl>
    <dl>
      <dt>phone number:</dt>
      <dd><%= signup.user_phone_number %></dd>
    </dl>
  </dl>

  <p>
    <% if signup.user_is_over_18 %>
    Volunteer is over 18
    <% else %>
    Volunteer is under 18
    <% end %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= EventInfo.find(signup.event_id).title %>
  </p>

  <p>
    <strong>Volunteer notes:</strong>
    <%= signup.notes %>
  </p>

  <p>
    <strong>Checked in at:</strong>
    <%= signup.checked_in_at %>
  </p>

  <p>
    <strong>Cancelled at:</strong>
    <%= signup.cancelled_at %>
  </p>

</div>
