<p class="notice"><%= notice %></p>

<%= render @signup %>

<div>
  <%= link_to "Edit this signup", edit_signup_path(@signup) %> |
  <%= link_to "Back to signups", signups_path %>

  <%= button_to "Delete your signup submission", @signup, method: :delete %>
</div>
