<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div class="error-message">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# Specify how many roles are needed for this event. %>
  <div class="form-field">
    <%= @event.team.volunteer_roles.each do |role| %>
      <%= form.fields_for :volunteer_roles do |role| %>
        <div class="row">
          <%= role.label :role, "How many needed?", style: "display: block" %>
          <%= role.number_field :slots, :in => 0..20 %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-field">
    <%= form.submit %>
  </div>
<% end %>