<p>Hi <%= @signup.name %>,</p>
<p>Here's your volunteering confirmation for <%= link_to @event.title, @domain == 'localhost' ? "http://#{@domain}:3001/events/#{@event.id}/signup-confirmation" : "https://#{@domain}/events/#{@event.id}/signup-confirmation" %> on 
<%= @event.start_time.strftime("%B %d, %Y") %> from 
<%= @event.start_time.strftime("%l:%M %p") %> to 
<%= @event.end_time.strftime("%l:%M %p") %>.</p>
<p><%= @event.description %></p>
<p>Here's the info you signed up with:</p>
<p><b>Name:</b> <%= @signup.name %><p>
<p><b>Email:</b> <%= @signup.email %></p>
<p><b>Phone number:</b> <%= @signup.phone_number %></p>
<% if @signup.is_over_18 %>
<p>You are over 18</p>
<% else %>
<p>You are under 18</p>
<% end %>
<p><b>Your notes for the leaders:</b> <%= @signup.notes %></p>
<p>Thanks for volunteering!</p>
