<p style="color: green"><%= notice %></p>

<%= render @signup_group %>

<div>
  <%= link_to "Edit this signup group", edit_signup_group_path(@signup_group) %> |
  <%= link_to "Back to signup groups", signup_groups_path %>

  <%= button_to "Destroy this signup group", @signup_group, method: :delete %>
</div>
