<%= form_with(model: event_info) do |form| %>
  <% if event_info.errors.any? %>
    <div class="error-message">
      <h2><%= pluralize(event_info.errors.count, "error") %> prohibited this event_info from being saved:</h2>

      <ul>
        <% event_info.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, placeholder: 'Event name' %>
  </div>

  <div class="form-field">
    <%= form.label :start_time, style: "display: block" %>
    <%= form.datetime_field :start_time %>
  </div>

  <div class="form-field">
    <%= form.label :end_time, style: "display: block" %>
    <%= form.datetime_field :end_time %>
  </div>

  <div>
    <%= form.label :team, style: "display: block" %>
    <%= form.collection_select :team_id, Team.all, :id, :name, prompt: true %>
  </div>

  <%= form.hidden_field :creator_id, value: current_user.id %>

  <p>Duration: end_time - start_time</p>

  <div class="form-field">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div class="form-field">
    <%= form.label :adult_slots, style: "display: block" %>
    <%= form.number_field :adult_slots, :in => 0..20 %>
  </div>

  <div class="form-field">
    <%= form.label :teenager_slots, style: "display: block" %>
    <%= form.number_field :teenager_slots, :in => 0..20 %>
  </div>

  <div class="form-field">
    <%= form.submit %>
  </div>
<% end %>
