<p style="color: green"><%= notice %></p>

<%= render @users_types_group %>

<div>
  <%= link_to "Edit this users types group", edit_users_types_group_path(@users_types_group) %> |
  <%= link_to "Back to users types groups", users_types_groups_path %>

  <%= button_to "Destroy this users types group", @users_types_group, method: :delete %>
</div>
