<%= turbo_stream_from signup %>
<tr class="<%= i % 2 == 0 ? 'odd' : 'even' %>">
  <td data-th="Name:" class="vertical-middle"><%= signup.user_name %></td>
  <td>
    <% if signup.checked_in_at.nil? || signup.checked_in_at == "" %>
      <%= form_with(
        model: @signup,
        scope: :signup,
        url: signup_path(signup.id),
        method: :put,
        remote: true
      ) do |f| %>
        <%= f.hidden_field :checked_in_at,
          value: Time.now.to_s,
          id: :checked_in_at
        %>
        <button onclick="this.form.requestSubmit()">Check in</button>
      <% end %>
    <% else %>
      <div class="flex justify-space-between align-center w-100">
        <b class="success">Checked in at <%= format_date_time(signup.checked_in_at) %></b>
        <%= form_with(
          model: @signup,
          scope: :signup,
          url: signup_path(signup.id),
          method: :put,
          remote: true
        ) do |f| %>
          <%= f.hidden_field :checked_in_at,
        value: nil,
        id: :checked_in_at
      %>
          <button onclick="this.form.requestSubmit()">Undo</button>
        <% end %>
      </div>
    <% end %>
  </td>
  <td class="vertical-middle">
    <details>
      <summary>Add a comment</summary>
      <%= form_with(
        model: @signup, 
        scope: :signup, 
        url: signup_path(signup.id),
        method: :put,
        remote: true
      ) do |f| %>
        <%= f.text_area :volunteer_notes, value: signup.volunteer_note.volunteer_notes %>
        <button class="float-right">Add</button>
      <% end %>
    </details>
  </td>
  <td class="small-col">
    <%= link_to "Edit", edit_signup_path(signup.id), class: "float-right" %>
  </td>
</tr>
<% if signup.volunteer_note %>
  <tr class="<%= i % 2 == 0 ? 'odd' : 'even' %>">
    <td colspan="4"><b>Volunteer Note:</b> <%= signup.volunteer_note.volunteer_notes %></td>
  </tr>
<% end %>
<% if signup.notes %>
  <tr class="<%= i % 2 == 0 ? 'odd' : 'even' %>">
    <td colspan="4"><b>Signup Note:</b> <%= signup.notes %></td>
  </tr>
<% end %>