<article id="<%= dom_id event_info %>">
  <header>
    <h2>
      <%= event_info.title %>
    </h2>

    <%= event_info.start_time.strftime("%B %e, %Y") %>

    <dl>
      <dl>
        <dt>Start time:</dt>
        <dd><%= event_info.start_time.strftime("%l:%M%P") %></dd>
      </dl>
      <dl>
        <dt>End time:</dt>
        <dd><%= event_info.end_time.strftime("%l:%M%P") %></dd>
      </dl>
      <dl>
        <dt>Max adult volunteers needed:</dt>
        <dd><%= event_info.adult_signup_slots %></dd>
      </dl>
      <dl>
        <dt>Max teen volunteers needed:</strong>
        <dd><%= event_info.teenager_slots %></dd>
      </dl>
    </dl>
  </header>

  <p><%= event_info.description %></p>
</article>
