<div id="<%= dom_id event_info %>">
  <p>
    <strong>Title:</strong>
    <%= event_info.title %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= event_info.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= event_info.end_time %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event_info.description %>
  </p>

  <p>
    <strong>Adult signup slots:</strong>
    <%= event_info.adult_signup_slots %>
  </p>

  <p>
    <strong>Teenager slots:</strong>
    <%= event_info.teenager_slots %>
  </p>

</div>
