<article id="<%= dom_id event_info %>">
  <header>
    <h2>
      <%= link_to event_info.title, event_info_path(event_info.id) %>
    </h2>

    <%= event_info.start_time.strftime("%B %e, %Y") %>

    <dl>
      <dl>
        <dt>Start time:</dt>
        <dd><%= event_info.start_time.strftime("%l:%M%P") %></dd>
      </dl>
      <dl>
        <dt>End time:</dt>
        <dd><%= event_info.end_time.strftime("%l:%M%P") %></dd>
      </dl>
      <dl>
        <dt>Adult volunteer slots remaining:</dt>
        <dd><%= event_info.remaining_adult_slots %></dd>
      </dl>
      <dl>
        <dt>Teen volunteer slots remaining:</strong>
        <dd><%= event_info.remaining_teenager_slots %></dd>
      </dl>
    </dl>
  </header>

  <p><%= event_info.description %></p>
</article>
