<%= form_with(model: event_info) do |form| %>
  <% if event_info.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event_info.errors.count, "error") %> prohibited this event_info from being saved:</h2>

      <ul>
        <% event_info.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div class="form-field">
    <%= form.label :start_time, style: "display: block" %>
    <%= form.time_field :start_time %>
  </div>

  <div class="form-field">
    <%= form.label :end_time, style: "display: block" %>
    <%= form.time_field :end_time %>
  </div>

  <div class="form-field">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div class="form-field">
    <%= form.label :adult_slots, style: "display: block" %>
    <%= form.number_field :adult_slots %>
  </div>

  <div class="form-field">
    <%= form.label :teenager_slots, style: "display: block" %>
    <%= form.number_field :teenager_slots %>
  </div>

  <div class="form-field">
    <%= form.submit %>
  </div>
<% end %>
