<p class="notice"><%= notice %></p>
<%= link_to raw("&laquo; Back to events"), event_infos_path %>
<span class="pipe">|</span>
<%= link_to "Signups", event_info_signups_path(@event_info.id) %>

<h2>Check-ins</h2>
<%= render @event_info %>
<h3>Volunteers over 18</h3>
<table class="check-in">
  <thead>
    <th>Name</th>
    <th>Check-in or Cancel</th>
    <th>Add a note</th>
    <th></th>
  </thead>
  <tbody>
    <% @signups_over_18.each_with_index do | signup, i | %>
      <%= render "check_in_trs", i: i, signup: signup %>
    <% end %>
  </tbody>
</table>
<h3>Volunteers under 18</h3>
<table class="check-in">
  <thead>
    <th>Name</th>
    <th>Check-in or Cancel</th>
    <th>Add a note</th>
    <th></th>
  </thead>
  <tbody>
    <% @signups_under_18.each_with_index do | signup, i | %>
      <%= render "check_in_trs", i: i, signup: signup %>
    <% end %>
  </tbody>
</table>

<%= link_to raw("&laquo; Back to events"), event_infos_path %>
<span class="pipe">|</span>
<%= link_to "Signups", event_info_signups_path(@event_info.id) %>