<p class="notice"><%= notice %></p>
<%= link_to raw("&laquo; Back to events"), event_infos_path %>
<%= render @event_info %>
<%= render "signups/form" %>
<% if @user_is_event_coordenator_or_admin %>
<div>
  <h3>Event Coordinator Actions</h3>
  <%= link_to "Edit this event info", edit_event_info_path(@event_info) %>

  <%= button_to "Destroy this event info", @event_info, method: :delete %>
</div>
<% end %>
<%= link_to raw("&laquo; Back to events"), event_infos_path %>