
<%= link_to raw("&laquo; Back to events"), event_infos_path %>
<span class="pipe">|</span>
<%= link_to "Check-ins", event_info_check_ins_path(@event_info.id) %>

<h2>Signups</h2>
<%= render @event_info %>
<h3>Volunteers over 18</h3>
<table class="signups">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Status</th>
      <th class="small-col"></th>
    </tr>
  </thead>
  <tbody>
    <% @signups_over_18.each_with_index do | signup, i | %>
      <%= render "signups_trs", i: i, signup: signup %>
    <% end %>
  </tbody>
</table>
<h3>Volunteers under 18</h3>
<table class="signups">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Status</th>
      <th class="small-col"></th>
    </tr>
  </thead>
  <tbody>
    <% @signups_under_18.each_with_index do | signup, i | %>
      <%= render "signups_trs", i: i, signup: signup %>
    <% end %>
  </tbody>
</table>
<%= link_to raw("&laquo; Back to events"), event_infos_path %>
<span class="pipe">|</span>
<%= link_to "Check-ins", event_info_check_ins_path(@event_info.id) %>