

<%= render @organization %>

<div>
  <%= link_to "Edit this organization", edit_organization_path(@organization) %><span class="pipe">|</span>
  <%= link_to "Back to organizations", organizations_path %>

  <%= button_to "Destroy this organization", @organization, method: :delete %>

  <div>
    <%= link_to "Teams", teams_path %>
  </div>

  <div>
    <%= link_to "Volunteer Roles", volunteer_roles_path %>
  </div>
</div>
