<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div class="error-message">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="form-field">
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div class="form-field">
    <%= form.label :phone_number, style: "display: block" %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="form-field">
    <%= form.label :is_over_18, style: "display: block" %>
    <%= form.check_box :is_over_18 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
