<%= form_with(model: users_types_team) do |form| %>
  <% if users_types_team.errors.any? %>
    <div class="error-message">
      <h2><%= pluralize(users_types_team.errors.count, "error") %> prohibited this users_types_team from being saved:</h2>

      <ul>
        <% users_types_team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.label :user_type_id, style: "display: block" %>
    <%= form.number_field :user_type_id %>
  </div>

  <div>
    <%= form.label :team_id, style: "display: block" %>
    <%= form.number_field :team_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
